package config

import (
	"context"
	"database/sql"
	"time"

	_ "github.com/mattn/go-sqlite3"
	"github.com/spf13/viper"
	{{if .IsOtelEnabled }}"github.com/XSAM/otelsql"
	semconv "go.opentelemetry.io/otel/semconv/v1.37.0"{{end}}

	"github.com/rs/zerolog"
)

const (
	DefaultSqliteConnMaxIdleTimeMin = 15 * time.Minute
	DefaultSqliteConnMaxLifetimeMin = 15 * time.Minute
	DefaultSqliteMaxIdleConns       = 100
)

type SqliteConfig struct {
	Name            string        `validate:"required"`
	Dsn             string        `validate:"required"`
	connMaxIdleTime time.Duration `validate:"numeric,gte=0"`
	connMaxLifetime time.Duration `validate:"numeric,gte=0"`
	maxIdleConns    int           `validate:"numeric,gte=0"`
}

func NewSqliteConfig(name, key string) SqliteConfig {
	return SqliteConfig{
		Name:            name,
		Dsn:             viper.GetString("SQLITE_" + key + "_DSN"),
		connMaxIdleTime: viper.GetDuration("SQLITE_"+key+"_CONN_MAX_IDLE_TIME_MIN") * time.Minute,
		connMaxLifetime: viper.GetDuration("SQLITE_"+key+"_CONN_MAX_LIFETIME_MIN") * time.Minute,
		maxIdleConns:    viper.GetInt("SQLITE_" + key + "_MAX_IDLE_CONNS"),
	}
}

type Sqlite struct {
	Db     *sql.DB
	syslog zerolog.Logger
	name   string
}

func NewSqlite(ctx context.Context, syslog zerolog.Logger, timeout time.Duration, cfg SqliteConfig) *Sqlite {
	ctx, cancel := context.WithTimeout(ctx, timeout)
	defer cancel()

	zlog := syslog.With().Str("name", cfg.Name).Logger()
	zlog.Info().Msg("connecting to sqlite...")

	if cfg.connMaxIdleTime == 0 {
		cfg.connMaxIdleTime = DefaultSqliteConnMaxIdleTimeMin
	}

	if cfg.connMaxLifetime == 0 {
		cfg.connMaxLifetime = DefaultSqliteConnMaxLifetimeMin
	}

	if cfg.maxIdleConns == 0 {
		cfg.maxIdleConns = DefaultSqliteMaxIdleConns
	}

	m := &Sqlite{}
	m.name = cfg.Name
	m.syslog = zlog

	// connecting to sqlite
	{{if .IsOtelEnabled }}
	db, err := otelsql.Open("sqlite3", cfg.Dsn, otelsql.WithAttributes(
		semconv.DBSystemNameSQLite,
	))
	{{else}}
	db, err := sql.Open("sqlite3", cfg.Dsn)
	{{end}}
	if err != nil {
		zlog.Fatal().Err(err).Msg("failed to connect sqlite")
	}

	{{if .IsOtelEnabled }}
	// Register OpenTelemetry instrumentation
	if _, err := otelsql.RegisterDBStatsMetrics(db, otelsql.WithAttributes(
		semconv.DBSystemNameSQLite,
	)); err != nil {
		zlog.Fatal().Err(err).Msg("failed to register sqlite stats metrics")
	}
	{{end}}

	// set variable
	db.SetConnMaxIdleTime(cfg.connMaxIdleTime)
	db.SetConnMaxLifetime(cfg.connMaxLifetime)
	db.SetMaxOpenConns(1)
	db.SetMaxIdleConns(cfg.maxIdleConns)

	// ping sqlite
	if err := db.PingContext(ctx); err != nil {
		zlog.Fatal().Err(err).Msg("failed to ping sqlite")
	}

	m.Db = db

	zlog.Info().Msg("connected to sqlite")
	return m
}

func (s *Sqlite) Close() {
	if s.Db == nil {
		return
	}
	s.syslog.Info().Msg("closing database sqlite...")
	if err := s.Db.Close(); err != nil {
		s.syslog.Error().Err(err).Msg("failed to close sqlite connection")
	}
	s.syslog.Info().Msg("database sqlite closed")
}
